<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="199e6e5e-60fe-46b4-a699-07c78f31849c"
            Publisher="CN=Clemens"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>StoreApplication</DisplayName>
    <PublisherDisplayName>Clemens</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="StoreApplication.App">
        <VisualElements
            DisplayName="StoreApplication"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="StoreApplication"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>