[*.cs]

# CA1835: Prefer the memory-based overloads of ReadAsync/WriteAsync methods in stream-based classes
dotnet_diagnostic.CA1835.severity = silent

# CsWinRT1028: Class is not marked partial
dotnet_diagnostic.CsWinRT1028.severity = silent

# CsWinRT1030: Project does not enable unsafe blocks
dotnet_diagnostic.CsWinRT1030.severity = silent

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = silent

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = silent

# IDE0090: Simplify 'new' expression
dotnet_diagnostic.IDE0090.severity = silent

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent

# IDE0300: Use collection expression for array
dotnet_diagnostic.IDE0300.severity = silent

# IDE0301: Use collection expression for empty
dotnet_diagnostic.IDE0301.severity = silent
