.vs/
bin/
obj/
Experimental/
DistributedCache/
TestApps/
TestData/
Win2D/
Caches/ZoneTreeCache/
SampleApps/Shared/TestLayers.cs
SampleApps/Shared/ChartServerLayer.cs
SampleApps/WinUiApp/TileLoader.cs
SampleApps/WpfApplication/TileLoader.cs
MapControlExperimental.sln
MapControlTestApps.sln
*.user
*.cache
*.nupkg
*.pdf
*.txt
*.cmd
